<h2>Wagon update</h2>

<p>
  <a mat-button routerLink="/wagons">
    <b>Back to wagon list</b>
  </a>
</p>
<form [formGroup]="wagonForm" (ngSubmit)="onSubmit(wagonForm.getRawValue())">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.identifier }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.identifier }}"
        formControlName="identifier"
      />
      <mat-hint>Give the Wagon's identifier</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.date_of_production }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.date_of_production }}"
        formControlName="date_of_production"
      />
      <mat-hint>Give the Wagon's production date</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.track_number }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.track_number }}"
        formControlName="track_number"
      />
      <mat-hint>Give the Wagon's track number</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.owner }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.owner }}"
        formControlName="owner"
      />
      <mat-hint>Give the Wagon's owner</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.siteID }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.siteID }}"
        formControlName="siteID"
      />
      <mat-hint>Give the Wagon's siteID</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.is_deleted }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.is_deleted }}"
        formControlName="is_deleted"
      />
      <mat-hint>Is the wagon deleted?</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.siteName }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.siteName }}"
        formControlName="siteName"
      />
      <mat-hint>Wagon's site name</mat-hint>
    </mat-form-field>
  </div>
  <br />
  <button mat-raised-button color="primary" type [disabled]="wagonForm.invalid">
    Update
  </button>
</form>
<p>Form Status: {{ wagonForm.status }}</p>
