<h2>Wagon update</h2>

<p>
  <a mat-button routerLink="/wagons">
    <b>Back to wagon list</b>
  </a>
</p>
<form [formGroup]="wagonForm" (ngSubmit)="onSubmit(wagonForm.getRawValue())">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.id }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.id }}"
        formControlName="id"
        [(ngModel)]="wagons.id"
        readonly
      />
      <mat-hint>Wagon's id</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.identifier }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.identifier }}"
        formControlName="identifier"
        [(ngModel)]="wagons.identifier"
      />
      <mat-hint>Give the Wagon's identifier</mat-hint>
      <mat-error *ngIf="identifier.invalid">{{
        getIdentifierErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.date_of_production }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.date_of_production }}"
        formControlName="date_of_production"
        [(ngModel)]="wagons.date_of_production"
      />
      <mat-error *ngIf="date_of_production.invalid">{{
        getProdDateErrorMessage()
      }}</mat-error>
      <mat-hint>Give the Wagon's production date</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.track_number | custom }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.track_number | custom }}"
        formControlName="track_number"
        [(ngModel)]="wagons.track_number"
      />
      <mat-error *ngIf="track_number.invalid">{{
        getTrackNumberErrorMessage()
      }}</mat-error>
      <mat-hint>Give the Wagon's track number</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.owner }}</mat-label>
      <input
        matInput
        placeholder="{{ wagons.owner }}"
        formControlName="owner"
        [(ngModel)]="wagons.owner"
      />
      <mat-error *ngIf="owner.invalid">{{ getOwnerErrorMessage() }}</mat-error>
      <mat-hint>Give the Wagon's owner</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.siteID }}</mat-label>
      <mat-select
        matInput
        placeholder="{{ wagons.siteID }}"
        formControlName="siteID"
        [(ngModel)]="wagons.siteID"
      >
        <mat-option *ngFor="let site of sites" [value]="site.id">{{
          site.id
        }}</mat-option>
      </mat-select>
      <mat-hint>Give the Wagon's siteID</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.is_deleted }}</mat-label>
      <mat-select
        matInput
        formControlName="is_deleted"
        [(ngModel)]="wagons.is_deleted"
      >
        <mat-option [value]="true">true</mat-option>
        <mat-option [value]="false">false</mat-option>
      </mat-select>
      <mat-hint>Is the wagon deleted?</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagons.siteName }}</mat-label>
      <mat-select
        matInput
        placeholder="{{ wagons.siteName }}"
        formControlName="siteName"
        [(ngModel)]="wagons.siteName"
      >
        <mat-option *ngFor="let site of sites" [value]="site.name">{{
          site.name
        }}</mat-option>
      </mat-select>
      <mat-hint>Wagon's site name</mat-hint>
    </mat-form-field>
  </div>
  <br />
  <button mat-raised-button color="primary" type [disabled]="wagonForm.invalid">
    Update
  </button>
</form>
<p>Form Status: {{ wagonForm.status }}</p>
