<h2>Wagon list</h2>

<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Add data
  </button>
</div>

<table mat-table [dataSource]="wagons" class="mat-elevation-z8 demo-table">
  <!-- Identifier Column -->
  <ng-container matColumnDef="identifier">
    <th mat-header-cell *matHeaderCellDef>Identifier</th>
    <td mat-cell *matCellDef="let wagons">{{ wagons.identifier }}</td>
  </ng-container>

  <!-- Track number Column -->
  <ng-container matColumnDef="track_number">
    <th mat-header-cell *matHeaderCellDef>Track number</th>
    <td mat-cell *matCellDef="let wagons">{{ wagons.track_number }}</td>
  </ng-container>

  <!-- Site name Column -->
  <ng-container matColumnDef="siteName">
    <th mat-header-cell *matHeaderCellDef>Site Name</th>
    <td mat-cell *matCellDef="let wagons">{{ wagons.siteName }}</td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let wagons">
      <button
        aria-hidden="false"
        [routerLink]="['/edit', wagons.id]"
        aria-label="Edit"
        mat-raised-button
      >
        Edit
      </button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let wagons">
      <button
        id="remove"
        (click)="onDeleteWagon(wagons.id)"
        mat-raised-button
        color="warn"
      >
        Delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
