<h2>Wagons</h2>

<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/create" color="primary">
    <mat-icon>add</mat-icon>
  </a>
</div>

<table id="wagontable">
  <th>Identifier</th>
  <th>Track number</th>
  <th>SiteName</th>
  <th>Edit</th>
  <th>Delete</th>
  <tr *ngFor="let wagon of wagons">
    <ng-container *ngIf="!wagon.is_deleted">
      <td>{{ wagon.identifier }}</td>
      <td>{{ wagon.track_number }}</td>
      <td>{{ wagon.siteName }}</td>
      <td id="edit">Edit</td>
      <td id="delete">Delete</td>
    </ng-container>
  </tr>
</table>
